*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}
body{
    font-family: 'Vazir', sans-serif;
    color: #000;
}
.text-efect{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-efect h1{
    font-size: 5rem;
}